body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

main {
    background-color: var(--background);
    height: 80vh !important;
    border-radius: 32px;
}

legend {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

hr {
    height: 8px;
    border-radius: 32px;
    border: none;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

input[type="submit"] {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0  51%, #FFCC70  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 32px;
    display: block;
    border: none;
}

input[type="submit"]:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
     